<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../template/style.css">
    <title>CoA模板</title>
</head>
<body>
    <div class="root">
        <div class="content">
            <div class="header">
                <div class="left">
                    <h4>{{ data.name }}</h4>
                    {% if data.cat_no %}
                    <span>{{ data.cat_no }}</span>
                    {% endif %}
                    <span>{{ data.pid }}</span>
                </div>
                <img src="../../template/logo.png" alt="">
            </div>
            <div class="space">
                <span>Description</span>
            </div>
            <table>
                <tr>
                    <td class="title">Product Name</td>
                    <td>{{ data.name }}</td>
                </tr>
                <tr>
                    <td class="title">Molecular<br>Characterization</td>
                    <td>{{ data.characterization }}</td>
                </tr>
                <tr>
                    <td class="title">Concentration</td>
                    <td>{{ data.conc }}</td>
                </tr>
                {% if data.endotoxin %}
                <tr>
                    <td class="title">Endotoxin</td>
                    <td>{{ data.endotoxin }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td class="title">Production Lot<br>Number</td>
                    <td>{{ data.lot_no }}</td>
                </tr>
                <tr>
                    <td class="title">Appearance</td>
                    <td>{{ data.appearance }}</td>
                </tr>
                <tr>
                    <td class="title">Formulation</td>
                    <td>{{ data.formulation }}</td>
                </tr>
                <tr>
                    <td class="title">Storage</td>
                    <td>{{ data.storage }}</td>
                </tr>
            </table>
            <div class="space">
                <span>Data</span>
            </div>
            <div class="detail">
                {% if data.sds_conclusion -%}
                <div class="sds">
                    <h4>SDS</h4>
                    <div class="sds-data">
                        <img src="sds.png" alt="">
                        <p>{{ data.sds_conclusion }}</p>
                    </div>
                </div>
                {% endif %}
                {% if data.sec_conclusion -%}
                <div class="sec">
                    <h4>SEC</h4>
                    <img src="sec.png" alt="">
                    <p>{{ data.sec_conclusion }}</p>
                </div>
                {% endif %}
                {% if data.elisa_conclusion -%}
                <div class="elisa">
                    <h4>ELISA</h4>
                    <img src="logo.png" alt="">
                    <p>{{ data.elisa_conclusion }}</p>
                </div>
                {%- endif %}
            </div>
            <div class="footer">
                <p>For research use only. Not for use in humans.</p>
                <p>Please contact us via <a href="mailto:Service@sanyoubio.com">Service@sanyoubio.com</a>, if you have any questions, suggestions, and/or requirements.</p>
                <p><a href="mailto:www.sanyoubio.com">www.sanyoubio.com</a></p>
            </div>
        </div>
    </div>
</body>
</html>